<div ng-controller="GameCtrl as gameController">

	<div class="jumbotron">
		<h3 ng-show="gameController.gameState.state == 'INITIALIZED'">Game not started yet ...</h3>
		<h3 ng-show="gameController.gameState.state == 'RUNNING'">Game in progress ...</h3>
		<h3 ng-show="gameController.gameState.state == 'STOPPED'">Game stopped</h3>
		<h3 ng-show="gameController.gameState.state == 'FINISHED'">Game finished, we have a winner!</h3>
				
		<p>
			<form name="gameForm" class="form-group has-error">
				<label class="control-label" for="user" ng-if="gameController.fieldIsInvalid('user')" ng-messages="gameForm.user.$error" >
					<span ng-message="required"><small>Username required!</small></span>
				</label>
				<input size="20" id="user" name="user" type="text" placeholder="User" ng-model="gameController.userName" 
					ng-required="true"> 

				<label class="control-label" for="buzzwords" ng-if="gameController.fieldIsInvalid('buzzwords')" ng-messages="gameForm.buzzwords.$error" >
					<span ng-message="required"><small>Buzzwords required!</small></span>
					<span ng-message="pattern"><small>exactly five buzzwords required (seperated by space)</small></span>
				</label>					
				<input size= "60" id="buzzwords" name="buzzwords" type="text" placeholder="enter buzzwords seperated by comma" ng-model="gameController.words"
					ng-required="true"
					ng-pattern="/^[A-Za-z\u00C0-\u02B0]+,[A-Za-z\u00C0-\u02B0]+,[A-Za-z\u00C0-\u02B0]+,[A-Za-z\u00C0-\u02B0]+,[A-Za-z\u00C0-\u02B0]+$/">

				<a class="btn btn-primary btn-default" role="button"
					ng-click="gameController.join()"					
					ng-disabled="!gameForm.$valid">Join Game</a> 	
		   </form> 
		</p>
		
		<p>
			<a class="btn btn-primary btn-default" role="button"
				ng-show="gameController.gameState.state == 'INITIALIZED'"
				ng-click="gameController.changeState('RUNNING')">Start Game</a> 
				
			<a class="btn btn-primary btn-default" role="button"
				ng-show="gameController.gameState.state == 'RUNNING'"
				ng-click="gameController.changeState('STOPPED')">Stop Game</a>
				 
			<a class="btn btn-primary btn-default" role="button"
				ng-show="gameController.gameState.state == 'STOPPED'"
				ng-click="gameController.changeState('RUNNING')">Continue Game</a>
				 
			<a class="btn btn-primary btn-default" role="button"
				ng-hide="gameController.gameState.state == 'INITIALIZED'"
				ng-click="gameController.changeState('INITIALIZED')">Reset Game</a> 		
		</p>

	</div>
	
	<div class="alert alert-danger" role="alert" ng-show="gameController.serverError">Error connecting to server</div>

	
	<table class="table">
		<tr ng-repeat="game in gameController.gameState.games">
			<td><h4>{{game.player}}</h4></td>
			<td>
				<span ng-repeat="word in game.words"> 
					<span ng-show="word.marked == false">{{word.word}}</span>
					<span class="label label-warning" ng-show="word.marked == true">{{word.word}}</span>
				</span>
			</td>
			<td>
				<span class="glyphicon glyphicon-star" aria-hidden="true" ng-repeat="i in game.hits"></span>
				<span class="glyphicon glyphicon-star-empty" aria-hidden="true" ng-repeat="i in game.misses"></span>
			</td>	
		</tr>
		<div class="alert alert-danger" role="alert"
			ng-show="gameController.gameState.winner">And the winner is
			{{gameController.gameState.winner}}</div>
	</table>

	<p>	
		<h4><b>Last matched recording:</b>		
		<span ng-repeat="word in gameController.gameState.lastMatchedRecording"> 
			<span ng-show="word.marked == false">{{word.word}}</span>
			<span class="label label-warning" ng-show="word.marked == true">{{word.word}}</span>
		</span></h4>
		<div><h4>
			<b>Last updated at:</b> {{gameController.lastUpdateTimestamp}} 			
		</h4></div>
		<div>
			<label>
				<input type="checkbox" 
					ng-model="gameController.automaticReloadFlag" ng-change="gameController.automaticReload()">Automatic reload
			</label>
		</div>		
	</p>

</div>

